.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

 body {
margin: 0;
 }

header {
  background-color: aqua;
  display: flex;
  justify-content:space-between;
}

ul {
  display: flex;  
}

li {
  height: 50px;
  width: 150px;
  padding: 3px;
  color: rgb(34, 31, 31);
  font-size: 20px;
  list-style: none;
  border: 2px solid rgb(108, 176, 176);
  text-align: center;
  margin-left: 2rem;
  border-radius: 5px;
  box-shadow: -13px 6px 26px 3px rgba(0,0,0,0.62);
  -webkit-box-shadow: -13px 6px 26px 3px rgba(0,0,0,0.62);
  -moz-box-shadow: -13px 6px 26px 3px rgba(0,0,0,0.62);
}

li:hover {
  background-color: red;
}

.home {
  background-color: red;
  padding: 1rem;
}

a {
   text-decoration: none;

}

a:hover {
  color: blueviolet  
}

h1 {
  color: blue;
}

h2{
  margin: 0;
}






@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
